body::-webkit-scrollbar {
    display: none;
}

.list_main {
    display: flex;
    flex-flow: column nowrap;
    gap: 2vh;
    border: 1px solid #000000;
    color: #000000;
    max-width: 80vh;
    max-height: fit-content;
    padding: 4vh 10vh;
    border-radius: 1vh;
}

.newTask_section {
    border: 1px solid #000000;
    border-radius: 2vh;
    max-width: 80vh;
}

.newTask_section form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1vh;
    padding: 3.8vh;
}

.newTask_section fieldset {
    font-weight: 645;
    margin: 0;
    padding: 0;
    height: 9vh;
    width: min-content;
    border: none;
}

.newTask_section fieldset span {
    padding: 0;
}

.newTask_section form input {
    padding: 1.5vh;
    border-radius: 1.5vh;
    color: #ffffff;
}

.newTask_section form button {
    padding: 1.5vh;
    align-self: flex-start;
    margin-top: 25px;
}

.newTask_section form span {
    color: #ff0000;
}

.task_section {
    border: 1px solid #000000;
    border-radius: 2vh;
    padding: 1vh;
    text-align: left;
}

.task_base_info {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #000000;
    padding: 1.5vh;
    justify-content: space-between;
    align-items: center;
    font-weight: 645;
}

.task_base_info h3 {
    padding: 0;
    margin: 0;
}

.task_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_info p {
    padding: 1vh;
    font-size: large;
    word-wrap: break-word;
    max-width: 60vh;
}

.task_info button {
    background-color: #ff0000;
    border: 1px solid black;
}